{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<h1 class="mb-4">Our Products</h1>

<div class="row">

  <!-- do something like this for every product -->
   {% for product in allproducts %}
    <div class="col-6 col-md-4 col-lg-3">
        <a href="/products/{{ product.id }}">
            <div class="card">
                <img class="card-img-top ProductList-img" 
                    src="{{ product.image }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ product.name }}
                    </h5>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
  


</div>

{% endblock %}